{% extends 'bash.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
	<title>Admin Login</title>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username" required><br><br>
        <input type="password" placeholder="Password" name="password" required><br><br>
        <input type="submit" value="Log in">
    </form>
	<script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
{% endblock %}